{% extends "base.html" %}


{% block title %}
Add Customer
{% endblock %}



{% block content %}


<div class="mx-auto max-w-3xl">


    <div class="rounded-xl border border-line bg-white p-8">


        <h1 class="font-display text-2xl font-semibold text-ink">
            Add Customer
        </h1>



        <form method="post" class="mt-6 space-y-5">

            {% csrf_token %}


            <input name="name" placeholder="Customer Name" required
                class="w-full rounded-lg border border-line px-4 py-3">


            <input name="phone" placeholder="Phone Number" class="w-full rounded-lg border border-line px-4 py-3">


            <input name="email" placeholder="Email" class="w-full rounded-lg border border-line px-4 py-3">


            <textarea name="address" placeholder="Address"
                class="w-full rounded-lg border border-line px-4 py-3"></textarea>



            <button class="rounded-lg bg-brand px-6 py-3 font-semibold text-white">

                Save Customer

            </button>



        </form>


    </div>


</div>


{% endblock %}