{% extends "base.html" %}


{% block title %}
Customers
{% endblock %}



{% block content %}


<div class="space-y-6">


    <div class="flex justify-between">


        <h1 class="text-3xl font-semibold">
            Customers
        </h1>



        <a href="{% url 'add_customer' %}" class="bg-brand text-white px-5 py-3 rounded">

            Add Customer

        </a>


    </div>



    <div class="rounded-xl border bg-white p-6">


        <table class="w-full">


            <thead>

                <tr class="border-b">

                    <th class="text-left">
                        Name
                    </th>


                    <th>
                        Phone
                    </th>


                    <th>
                        Email
                    </th>


                </tr>

            </thead>



            <tbody>


                {% for customer in customers %}


                <tr class="border-b">


                    <td class="py-3">

                        {{ customer.name }}

                    </td>


                    <td>

                        {{ customer.phone }}

                    </td>


                    <td>

                        {{ customer.email }}

                    </td>


                </tr>


                {% endfor %}


            </tbody>


        </table>


    </div>


</div>


{% endblock %}