{% extends "base.html" %}


{% block title %}
Expenses
{% endblock %}



{% block content %}


<div class="space-y-6">


    <div class="flex justify-between">


        <h1 class="text-3xl font-semibold">
            Expenses
        </h1>



        <a href="{% url 'add_expense' %}" class="bg-brand text-white px-5 py-3 rounded">

            Add Expense

        </a>


    </div>




    <div class="rounded-xl border bg-white p-6">


        <table class="w-full">


            <thead>

                <tr class="border-b">


                    <th class="text-left">
                        Title
                    </th>


                    <th>
                        Type
                    </th>


                    <th>
                        Amount
                    </th>


                    <th>
                        Date
                    </th>


                </tr>

            </thead>



            <tbody>


                {% for expense in expenses %}


                <tr class="border-b">


                    <td class="py-3">

                        {{ expense.title }}

                    </td>


                    <td>

                        {{ expense.expense_type }}

                    </td>


                    <td>

                        Rs {{ expense.amount }}

                    </td>


                    <td>

                        {{ expense.created_at|date:"Y-m-d" }}

                    </td>


                </tr>



                {% endfor %}


            </tbody>


        </table>


    </div>


</div>


{% endblock %}