{% extends "base.html" %}

{% block title %}
Invoice {{ invoice.invoice_number }}
{% endblock %}


{% block content %}

<style>
    .receipt {

        width: 48mm;

        margin: auto;

        font-family:
            "Courier New",
            monospace;

        font-size: 12px;

    }


    .center {

        text-align: center;

    }


    .right {

        text-align: right;

    }


    .item {

        margin-bottom: 5px;

    }


    @media print {


        body * {

            visibility: hidden;

        }


        .receipt,
        .receipt * {

            visibility: visible;

        }


        .receipt {

            position: absolute;

            left: 0;

            top: 0;

            width: 48mm;

        }


        button {

            display: none;

        }

    }


    .no-print {
        margin-top: 20px;
        padding: 10px 20px;
    }


    @media print {

        .no-print {
            display: none;
        }

    }
</style>



<div class="receipt">

    <div class="center">
        <h2>MY SHOP</h2>
        <p>POS BILLING SYSTEM</p>
        <p>--------------------------</p>
    </div>


    <div>
        Invoice: {{ invoice.invoice_number }}<br>
        Date:
        {{ invoice.created_at|date:"Y-m-d H:i" }}<br>

        Customer:
        {% if invoice.customer %}
        {{ invoice.customer.name }}
        {% else %}
        Walk-in Customer
        {% endif %}
    </div>


    <p>
        --------------------------
    </p>


    {% for item in invoice.items.all %}

    <div class="item">

        {{ item.product.name }}<br>

        {{ item.quantity }} x
        {{ item.price }}

        =
        {{ item.total }}

    </div>

    {% endfor %}


    <p>
        --------------------------
    </p>


    <div class="right">

        Subtotal:
        {{ invoice.subtotal }}
        <br>

        Discount:
        {{ invoice.discount }}
        <br>

        Tax:
        {{ invoice.tax }}
        <br>

        TOTAL:
        {{ invoice.total }}

        <br>

        Paid:
        {{ invoice.paid_amount }}

        <br>

        Due:
        {{ invoice.due_amount }}

    </div>


    <p>
        --------------------------
    </p>


    <div class="center">

        Thank You!
        <br>

        Visit Again

    </div>


</div>


<button onclick="window.print()" class="no-print">
    Print Invoice
</button>


{% if auto_print %}

<script>

    window.onload = function () {

        setTimeout(function () {

            window.print();

        }, 500);

    };

</script>

{% endif %}


{% endblock %}