{% extends "base.html" %}

{% block title %}
Invoice {{ invoice.invoice_number }}
{% endblock %}


{% block content %}
<style>
    @page {
        size: 48mm auto;
        margin: 0;
    }


    body {
        margin: 0;
    }


    .receipt {

        width: 48mm;

        padding: 5px;

    }
</style>
<style>
    .receipt {

        width: 48mm;

        margin: auto;

        font-family:
            "Courier New",
            monospace;

        font-size: 12px;

    }


    .center {

        text-align: center;

    }


    .right {

        text-align: right;

    }


    .item {

        margin-bottom: 5px;

    }


    @media print {


        body * {

            visibility: hidden;

        }


        .receipt,
        .receipt * {

            visibility: visible;

        }


        .receipt {

            position: absolute;

            left: 0;

            top: 0;

            width: 48mm;

        }


        button {

            display: none;

        }

    }


    .no-print {
        margin-top: 20px;
        padding: 10px 20px;
    }


    @media print {

        .no-print {
            display: none;
        }

    }
</style>



<div class="receipt">

    <div class="center">
    
    
        {% if shop.logo %}
    
        <img src="{{ shop.logo.url }}" style="width:60px;margin:auto;">
    
        {% endif %}
    
    
    
        <h2>
            {{ shop.shop_name }}
        </h2>
    
    
        {% if shop.address %}
    
        <p>
            {{ shop.address }}
        </p>
    
        {% endif %}
    
    
    
        {% if shop.phone %}
    
        <p>
            Phone: {{ shop.phone }}
        </p>
    
        {% endif %}
    
    
    
        {% if shop.vat_number %}
    
        <p>
            VAT: {{ shop.vat_number }}
        </p>
    
        {% endif %}
    
    
    
        <p>
            --------------------------
        </p>
    
    
    </div>


    <div>
        Invoice: {{ invoice.invoice_number }}<br>
        Date:
        {{ invoice.created_at|date:"Y-m-d H:i" }}<br>

        Customer:
        {% if invoice.customer %}
        {{ invoice.customer.name }}
        {% else %}
        Walk-in Customer
        {% endif %}
    </div>


    <p>
        --------------------------
    </p>


    {% for item in invoice.items.all %}

    <div class="item">

        {{ item.product.name }}<br>

        {{ item.quantity }} x
        {{ item.price }}

        =
        {{ item.total }}

    </div>

    {% endfor %}


    <p>
        --------------------------
    </p>


    <div class="right">

        Subtotal:
        {{ invoice.subtotal }}
        <br>

        Discount:
        {{ invoice.discount }}
        <br>

        Tax:
        {{ invoice.tax }}
        <br>

        TOTAL:
        {{ invoice.total }}

        <br>

        Paid:
        {{ invoice.paid_amount }}

        <br>


        {% if return_amount > 0 %}

        Return Cash:
        {{ invoice.return_amount|default:"0.00" }}

        <br>

        {% endif %}


        Due:
        {{ invoice.due_amount }}

    </div>


    <p>
        --------------------------
    </p>


    <div class="center">
    
        {{ shop.footer_message|linebreaks }}
    
    </div>


</div>


<button onclick="window.print()" class="no-print">
    Print Invoice
</button>


{% if auto_print %}

<script>

    window.onload = function () {

        setTimeout(function () {

            window.print();

        }, 500);

    };

</script>

{% endif %}


{% endblock %}