{% extends "base.html" %}


{% block title %}
Billing
{% endblock %}



{% block content %}


<div class="space-y-6">


    <h1 class="text-3xl font-semibold">
        Create Bill
    </h1>



    <form method="GET">


        <input type="text" name="q" value="{{query}}" placeholder="Search product..."
            class="w-full rounded-lg border px-4 py-3" />


    </form>




    <div class="grid gap-5 md:grid-cols-3">


        {% for product in products %}



        <div class="rounded-xl border bg-white p-5">


            <h3 class="font-semibold">

                {{product.name}}

            </h3>


            <p class="text-sm text-muted">

                Category:
                {{product.category.name}}

            </p>



            <p class="mt-2">

                Rs {{product.price}}

            </p>



            <p>

                Stock:
                {{product.stock}}

            </p>



            {% if product.stock > 0 %}


            <a href="{% url 'add_to_cart' product.id %}"
                class="mt-4 inline-block rounded-lg bg-brand px-4 py-2 text-white">

                Add To Cart

            </a>



            {% else %}


            <button disabled class="mt-4 rounded-lg bg-gray-300 px-4 py-2">

                Out Of Stock

            </button>


            {% endif %}



        </div>



        {% empty %}


        <p>
            No products found
        </p>


        {% endfor %}


    </div>


</div>


{% endblock %}